{% extends "proyectofinal/base.html" %}
{% load static %}
{% block container%}
    <div class="container border-0 shadow-lg" style="background-color:white">
        <div class="row justify-content-evenly">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-4 py-4">
                <div class="text-center">
                    <img src="{{ manga.image.url }}" class="img-thumbnail" alt="">
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6 py-3 ">
                <form  method="POST" enctype="multipart/form-data">{% csrf_token %}
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Nombre del Manga</label>
                        {{form.name}}
                    </div>
                    <div class="row py-2">
                        <div class="col-md-4">
                            <label for="inputState" class="form-label">Tipo</label>
                            {{form.type}}
                        </div>
                        <div class="col-md-8">
                            <label for="inputState" class="form-label">Estatus</label>
                            {{form.status}}
                        </div>
                    </div>
                    <div class="mb-3 py-2">
                        <label for="exampleFormControlInput1" class="form-label">Fecha de lanzamiento</label>
                        {{form.published}}
                    </div>
                    <div class="row py-2">
                        <div class="col-md-6">
                            <label for="exampleFormControlInput1" class="form-label">Cantidad de Tomos</label>
                            {{form.volumenes}}
                        </div>
                        <div class="col-md-6">
                            <label for="exampleFormControlInput1" class="form-label">Autor</label>
                            {{form.author}}
                        </div>
                    </div>
                    <div class="col-md-12 py-2">
                        <label for="exampleFormControlInput1" class="form-label">Generos</label>
                        {{form.genres}}
                    </div>
                    <div class="col-md-12 py-2">
                        <label for="exampleFormControlInput1" class="form-label">Descripcion</label>
                        {{form.description}}
                    </div>
                    <div class="col-md-12 py-2">
                        <label for="exampleFormControlInput1" class="form-label">Antecedentes</label>
                        {{form.background}}
                    </div>
                    <div class="col-md-12 py-2">
                        <label for="formFile" class="form-label">Imagen de Portada</label>
                        {{form.image}}
                    </div>
                    <button type="submit" class="btn btn-secondary">Guardar</button>
                    
                </form>
            </div>
        </div>
    </div>
{% endblock %}