{% extends "proyectofinal/base.html"%}
{% load static %}
{% block container %}
<div class="container border-0 shadow-lg" style="background-color:white">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 py-3 border">
            <div class="perfil">
                <div class="img-profile">
                    <img class="border border-4 border-dark rounded-circle mx-auto d-block" src="{{ request.user.profile.image.url }}"  height="300px">
                </div>
                <div class="profile-content">
                    <div class="text-center">
                        <h1 class="display-5" >{{request.user}}</h1>
                        <h5>{{request.user.first_name}} {{request.user.last_name}}</h5>
                        <p class="card">{{ request.user.profile.bio}}</p>
                        <a href="{% url 'Edit Profile'%}"><button type="button" class="btn btn-secondary">Configurar Perfil</button></a>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-8 py-3 border">
            
        </div>
    </div>
</div>
{% endblock %}