{% extends "proyectofinal/base.html"%}
{% load static %}
{% block container %}
<div class="container border-0 shadow-lg" style="background-color:white">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 py-3 border">
            <div class="img-profile">
                <img class="border border-4 border-dark rounded-circle mx-auto d-block" src="{% static 'img/jujutsu-kaisen-2240475.jpg' %}"  height="350px">
            </div>
            <div class="profile-content">
                <
            </div>

        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-8 py-3 border">
            
        </div>
    </div>
</div>
{% endblock %}