{% extends "proyectofinal/base.html"%}

{% block container %}
    <div class="container border-0 shadow-lg" style="background-color:white">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 py-3 border">
                <form  method="POST" enctype="multipart/form-data">{% csrf_token %}
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Nombre del Anime</label>
                        {{form.name}}
                    </div>
                    <div class="row py-2">
                        <div class="col-md-4">
                            <label for="inputState" class="form-label">Tipo</label>
                            {{form.type}}
                        </div>
                        <div class="col-md-8">
                            <label for="inputState" class="form-label">Estudio</label>
                            {{form.studio}}
                        </div>
                    </div>
                    <div class="mb-3 py-2">
                        <label for="exampleFormControlInput1" class="form-label">Fecha de lanzamiento</label>
                        {{form.relase_date}}
                    </div>
                    <div class="row py-2">
                        <div class="col-md-6">
                            <label for="exampleFormControlInput1" class="form-label">Cantidad de Episodios</label>
                            {{form.episodes}}
                        </div>
                        <div class="col-md-6">
                            <label for="exampleFormControlInput1" class="form-label">Duracion</label>
                            {{form.duration}}
                        </div>
                    </div>
                    <div class="col-md-12 py-2">
                        <label for="exampleFormControlInput1" class="form-label">Generos</label>
                        {{form.genres}}
                    </div>
                    <div class="col-md-12 py-2">
                        <label for="exampleFormControlTextarea1" class="form-label">Descripcion</label>
                        {{form.description}}
                    </div>
                    <div class="col-md-12 py-2">
                        <label for="exampleFormControlTextarea1" class="form-label">Antecedentes</label>
                        {{form.backgroun}}
                    </div>
                    <div class="col-md-12 py-2">
                        <label for="formFile" class="form-label">Imagen de Portada</label>
                        {{form.image}}
                    </div>
                    <button type="submit" class="btn btn-secondary">Guardar</button>
                </form>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8 border">
                <table class="table table-dark table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Tipo</th>
                            <th>Estudio Animador</th>
                            <th colspan="2" >Opcion</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for anime in animes %}
                        <tr>
                            <td>{{anime.id}}</td>
                            <td>{{anime.name}}</td>
                            <td>{{anime.type}}</td>
                            <td>{{anime.studio}}</td>
                            <td><a href="{% url 'Edit Anime' anime.id %}" class="btn btn-info" >Editar</a></td>
                            <td><a href="{% url 'Delete Anime' anime.id %}" class="btn btn-danger btnEliminacion" >Eliminar</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
</script>
