{% extends "base.html" %} {% load static %} {% block container %}
<div class="container border-0 shadow-lg" style="background-color: white">
    <div class="row justify-content-evenly">
        <div class="col-sm-12 col-md-12 col-lg-4 py-4">
            <div class="text-center">
                <img
                    src="{{ manga.image.url }}"
                    class="img-thumbnail"
                    alt="{{ manga.name }}"
                    style="max-height: 400px"
                />
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-8 py-3">
            <h2>{{ manga.name }}</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <strong>Tipo:</strong> {{ manga.get_type_display }}
                </li>
                <li class="list-group-item">
                    <strong>Volúmenes:</strong> {{ manga.volumenes }}
                </li>
                <li class="list-group-item">
                    <strong>Fecha de publicación:</strong> {{ manga.published }}
                </li>
                <li class="list-group-item">
                    <strong>Autor:</strong> {{ manga.author }}
                </li>
                <li class="list-group-item">
                    <strong>Géneros:</strong> {{ manga.genres }}
                </li>
                <li class="list-group-item">
                    <strong>Estado:</strong> {{ manga.get_status_display }}
                </li>
            </ul>
            <div class="mt-3">
                <h5>Descripción</h5>
                <p>{{ manga.description }}</p>
            </div>
            <div class="mt-3">
                <h5>Antecedentes</h5>
                <p>{{ manga.background }}</p>
            </div>
            <a href="{% url 'Manga Search' %}" class="btn btn-primary mt-3"
                >Volver a la lista</a
            >
        </div>
    </div>
</div>
{% endblock %}
