{% extends "proyectofinal/base.html"%}
{% load static %}
{% block container %}
    <div class="container border-0 shadow-lg" style="background-color:white">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 py-3 border">
                <form  method="POST" enctype="multipart/form-data">{% csrf_token %}
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Nombre del Manga</label>
                        {{form.name}}
                    </div>
                    <div class="mb-3 py-2">
                        <label for="exampleFormControlInput1" class="form-label">Fecha de lanzamiento</label>
                        {{form.fundation_date}}
                    </div>
                    <div class="col-md-12 py-2">
                        <label for="exampleFormControlInput1" class="form-label">Descripcion</label>
                        {{form.description}}
                    </div>
                    <div class="col-md-12 py-2">
                        <label for="formFile" class="form-label">Imagen de Portada</label>
                        {{form.image}}
                    </div>
                    <button type="submit" class="btn btn-secondary">Guardar</button>
                </form>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8 border">
                <table class="table table-dark table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Autor</th>
                            <th colspan="2" >Opcion</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for studio in studios %}
                        <tr>
                            <td>{{studio.id}}</td>
                            <td>{{studio.name}}</td>
                            <td>{{studio.author}}</td>
                            <td><a href="{% url 'Edit Studio' studio.id %}" class="btn btn-info" >Editar</a></td>
                            <td><a href="{% url 'Delete Studio' studio.id %}" class="btn btn-danger btnEliminacion" >Eliminar</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}

<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
</script>