{% extends "proyectofinal/base.html" %}
{% load static %}
{% block container%}
    <div class="position-absolute top-50 start-50 translate-middle">
        <div class="container border rounded shadow-lg" style="background-color:white">
            <div class="row">
                <p class="text-center fs-2">INICIAR SESION</b></p>
            </div>
            <div class="row justify-content-evenly">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 py-3 ">
                    <div class="text-center">
                        <form method="POST">{% csrf_token %}
                            <div class="mb-3 py-3">
                                {{form.username}}
                            </div>
                            <div class="mb-3 py-3">
                                {{form.password}}
                            </div>
                            <button type="submit" class="btn btn-secondary">Iniciar Sesion</button>
                        </form>
                        {% if message %}
                            <p><br>{{message}}</p>
                        {% endif %}
                        <br>
                        <a href="{% url 'Register' %}">Sign up to GeekZone</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}